<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>A Java Servlet-based Bittorrent Tracker. Provides content via JSON.</description>
    <display-name>TorrentTracker</display-name>
    <servlet>
        <servlet-name>Announce</servlet-name>
        <servlet-class>com.tracker.frontend.Announce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scrape</servlet-name>
        <servlet-class>com.tracker.frontend.Scrape</servlet-class>
    </servlet>
    <servlet>
        <description>News and welcome file</description>
        <servlet-name>News</servlet-name>
        <jsp-file>/news.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Browsing torrentlist</description>
        <servlet-name>Browse</servlet-name>
        <jsp-file>/browse.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>provides a JSON listing and search of torrents</description>
        <servlet-name>Torrentlist</servlet-name>
        <jsp-file>/resources/json/torrentlist.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Frontend of uploading</description>
        <servlet-name>Upload</servlet-name>
        <jsp-file>/upload.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Announce</servlet-name>
        <url-pattern>/announce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Announce</servlet-name>
        <url-pattern>/Announce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scrape</servlet-name>
        <url-pattern>/Scrape</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scrape</servlet-name>
        <url-pattern>/scrape</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/News</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Browse</servlet-name>
        <url-pattern>/Browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Torrentlist</servlet-name>
        <url-pattern>/torrentlist.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Browse</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>news.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
